{{#if modal}}
  <div
    class="modal fade"
    id="projectModal{{@index}}"
    tabindex="-1"
    aria-labelledby="projectModal{{@index}}"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modal.title}}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{#if modal.pdf}}
            <div id="pdfViewer" style="min-height: 50vh"><source
                src="{{modal.pdf}}"
                type="application/pdf"
              /></div>
          {{else}}
            {{{modal.content}}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}