<div class="card border-0 rounded-0">
  <div class="projectHeader row g-3">
    <div class="col-md-4">
      {{#if video}}
        <video
          class="img-fluid rounded-0"
          autoplay
          loop
          muted
          playsinline
          alt="{{title}} project video"
          poster="{{image}}"
        ><source src="{{video}}" type="video/mp4" /></video>
      {{else if image}}
        <img
          class="img-fluid rounded-0"
          src="{{image}}"
          alt="{{title}} project image"
        />
      {{/if}}
    </div>
    <div class="col-md-8">
      <h5 class="card-title">{{title}}</h5>
      <div id="project{{@index}}" class="projectDetails collapse mb-2">
        {{{description}}}
        {{#if modal}}
          <button
            type="button"
            class="btn btn-sm btn-warning text-uppercase"
            data-bs-toggle="modal"
            data-bs-target="#projectModal{{@index}}"
          >
            <i class="{{modal.toggle.icon}} me-2"></i>{{modal.toggle.label}}
          </button>
        {{/if}}
        {{#if externalLinks}}
          {{#each externalLinks}}
            <a
              href="{{url}}"
              target="_blank"
              rel="noreferrer"
              class="btn btn-sm btn-warning text-uppercase"
            >
              <i class="{{icon}} me-2"></i>{{label}}
            </a>
          {{/each}}
        {{/if}}
      </div>
    </div>
    <div class="col-12">
      <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-spy="scroll"
        data-bs-target="#project{{@index}}"
        data-bs-offset="0"
        href="#project{{@index}}"
        role="button"
        aria-expanded="false"
        aria-controls="project{{@index}}"
        class="btn btn-sm btn-light text-uppercase collapse-btn w-100"
      ><i class="fa-solid fa-chevron-up show-less me-2"></i><i
          class="fa-solid fa-chevron-down show-more me-2"
        ></i>
      </button>
    </div>
  </div>
</div>
{{#if @last}}
  <hr class="border-0" />
{{else}}
  <hr class="border-secondary-subtle" />
{{/if}}